{% extends 'base.html.twig' %}

{% block body %}
<h1>Welcome to Teig overlay dashboard</h1>
        <div id="container">
          <ul class="list-inline">
            <li>This page is under construction</li>
        </div>
{% endblock %}

{% block stylesheets %}

{% endblock %}
