{% extends 'base.html.twig' %}

{% block body %}
    <h1>Last grabberactions</h1>
    <div class="container">
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>Grabtime</th>
                <th>Grabber</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
        {% for grabber in grabbers|sort('asc') %}
            <tr {% if last[grabber] is defined and last[grabber]|date('Y-m-d') < "now - 7 day"|date('Y-m-d') %}class="warning"{% endif %}>
                <td>{{ last[grabber]|date('Y-m-d H:i:s') }}</td>
                <td>{{grabber}}
                <td>{{ status[grabber] }}</td>

            </tr>
        {% endfor %}
        </tbody>
    </table>
  </div>
{% endblock %}
